<form action="answer" id="form_ask">
  <h1>Ask Something To The Coach:  </h1>
  <input type="text" name="question" id="user_input">
  <input type="submit" value="Ask!" id="submit_btn">
</form>
<img src="https://evorastudio.com.br/wp-content/uploads/2021/02/fotos-para-coach-7-scaled-e1613489885317.jpg" alt="stupid coach" id="coach_img">
